:root {
    --main-color: #eee;
    --main-bg-color:#fff;
    --link-bg-color: #c4097cec;
    --purple-color: #6612d4;
    --green-color: #23b848;
    --red-color: #d82f2f;
    --darkGray-shadow-color: #363131;
    --lightGray-shadow-color: #7c7b7b;
    --lightGray-text-color: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ****************** Global ************************ */

body {
    background-color: var(--main-color);
}

body::-webkit-scrollbar {
    width: 10px;               
}

body::-webkit-scrollbar-track {
    background: var(--main-bg-color);        
}

body::-webkit-scrollbar-thumb {
    background-color: #2b242449;
    border-radius: 20px;      
}

.card-item{
    box-shadow: 0 0 15px var(--lightGray-shadow-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: var(--main-bg-color);
    padding: 1em 1.5em;
}

/* ********************************************************* */

.site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    position: relative;
    left: 1%;
    top: 20px;
}

/* ****************** Side NavBar ************************ */

.nav {
    background-color: var(--main-bg-color);
    background-image: linear-gradient(to bottom,#222,#333,#444,#666,#555,#444,#333,#222,#111,#000);
    box-shadow: 0 0 20px 5px var(--darkGray-shadow-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    color: var(--main-color);
    width: 16%;
    height: 96%;
    position: fixed;
    top: 2%;
}

.nav .title {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0px 0px 7px var(--darkGray-shadow-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .title img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-link-con {
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active {
    background-color: var(--link-bg-color);
}

.nav-link-con a {
    color: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-link-con a:hover {
    color: var(--main-color);
    background-color: rgba(136, 134, 135, 0.178);
}

.nav-link-con i {
    margin-right: 10px;
}

.nav span {
    padding: 20px 15px 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav .footer {
    position: absolute;
    bottom: 2%;
    width: 87%;
    text-align: center;
}

.nav .footer a {
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

a.first {
    color: var(--link-bg-color);
    border: 1px solid var(--link-bg-color);
}

.nav .footer a.second {
    background-color: var(--link-bg-color);
    margin: 15px 0;
}

/* Close Icon -- Menu Icon ----- of Navbar */

.nav .title i.close{
    color: var(--main-color);
    width: 20%;
    margin: auto;
    margin-top: 0.7rem;
    display: none;
}

.toggle-menu {
    background: none;
    border: none;
    width: 2.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    position: relative;
    display: none;
}

.toggle-menu:focus {
    outline: none;
}

.toggle-menu i {
    display: block;
    font-size: 1.5rem;
    color: var(--link-bg-color);
}

/* ------------ NavBar Media ------------ */

@media (max-width: 1369px){
    .toggle-menu {
        display: inline-block;
    }
    .nav {
        top: 0;
        left: -45rem;
        height: 100%;
        z-index: 100000;
        width: 47%;
        transition: 0.5s all ease-in-out;
        -webkit-transition: 0.5s all ease-in-out;
        -moz-transition: 0.5s all ease-in-out;
        -ms-transition: 0.5s all ease-in-out;
        -o-transition: 0.5s all ease-in-out;
    }
}

@media (max-width: 1024px){
    .nav {
        left: -30rem;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .nav {
        width: 90%;
    }
}

/* ********************************************************* */

.content {
    width: 78%;
    position: absolute;
    left: 19%;
    top: 1%;
}

/* ****************** First Section ************************ */

.content .first-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.content .first-sec .left {
    width: 20%;
}

.content .first-sec .left nav ol {
    margin: 0;
    padding: 0;
}

.content .first-sec .left nav a {
    text-decoration: none;
    color: var(--link-bg-color);
}

.content .first-sec .left h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.content .first-sec .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-sec .right .input-gro{
    position: relative;
}

.content .first-sec .right .input-item{
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--link-bg-color);
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content .first-sec .right .placeholder{
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 16px;
    padding: 0 5px;
    color: var(--link-bg-color);
    transition: 0.3s;
    pointer-events: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.content .first-sec .right .input-item:focus + .placeholder{
    top: -15px;
    color: var(--link-bg-color);
    background-color: var(--main-color);
}

.content .first-sec .right .first {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    margin: 0 15px;
}

.content .first-sec .right .btn-group button {
    color: var(--link-bg-color);
    border: 1px solid var(--link-bg-color);
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    padding: 8px;
}

.content .first-sec .right .nav-icon {
    margin: 5px;
    font-size: 1.5em;
    color: var(--link-bg-color);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
}

.content .first-sec .right .first:hover,
.content .first-sec .right .btn-group button:hover,
.content .first-sec .right .nav-icon:hover {
    background-color: var(--link-bg-color);
    color: var(--main-color);
}

.content .first-sec .right img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--link-bg-color);
}

/* ------------ First Section Media ------------ */

@media (max-width: 1369px){
    .content {
        width: 98%;
        left: 1%;
    }
    .content .first-sec .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }
    .content .first-sec .right .first {
        display: none;
    }
    .content .first-sec .right .input-gro{
        margin-right: 10px;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .content .first-sec .right .input-gro,
    .content .first-sec .right .first,
    .content .first-sec .right .btn-group button,
    .content .first-sec .right .nav-icon{
        display: none;
    }
    .content .first-sec .left {
        width: 55%;
    }
}

/* ****************** Second Section ************************ */

.card-con{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px 20px;
}

.second-sec .card-item{
    margin: 5px 20px;
    width: 25%;
}

.second-sec .card-item .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-sec .card-item .top .left{
    background: var(--link-bg-color);
    width: 3em;
    height: 3em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    margin-top: -100px;
}

.second-sec .card-item:nth-child(even) .top .left{
    background: var(--purple-color);
}

.second-sec .card-item .top .left i{
    font-size: 26px;
    color: var(--main-color);
    padding: 10px;
}

.second-sec .card-item .top .right{
    text-align: center;
}

.second-sec .card-item .top .right h3{
    color: var(--darkGray-shadow-color);
}

.second-sec .card-item .top .right p, .second-sec .card-item .bottom{
    color: var(--lightGray-text-color);
}

.second-sec .card-item .bottom span{
    color: var(--green-color);
    font-weight: bold;
}

.second-sec .card-item .bottom span.negative{
    color: var(--red-color);
}

/* ------------ Second Section Media ------------ */

@media (max-width: 1369px){
    .second-sec .card-item {
        margin: 5px;
        width: 25%;
        height: 12vh;
        padding: 0.7em 0.5em;
    }
    .second-sec .card-item .top.sec_first .right p{
        width: 110%;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .card-con{
        display: block;
    }
    .second-sec .card-item {
        margin: 30px 5px;
        width: 100%;
        height: 16vh;
    }
}

/* ****************** Third Section ************************ */

.third-sec .card-item{
    margin: 0 15px;
    width: 33.3%;
}

.third-sec .card-item .top{
    width: 100%;
    height: 30vh;
}

.third-sec .card-item .top img{
    width: 100%;
    height: 30vh;
}

.third-sec .card-item .middle{
    border-bottom: 0.1px solid var(--lightGray-text-color);
    margin-bottom: 10px;
}

.third-sec .card-item .middle h4{
    color: var(--darkGray-shadow-color);
    font-size: 20px;
}

.third-sec .card-item .middle p, .third-sec .card-item .bottom{
    color: var(--lightGray-text-color);
    font-size: 14px;
}

.third-sec .card-item .middle p span{
    font-weight: bold;
    color: var(--lightGray-shadow-color);
}

.third-sec .card-item .bottom i{
    font-size: 12px;
    margin-right: 5px;
}

/* ------------ Third Section Media ------------ */

@media (max-width: 1024px){
    .third-sec .card-item {
        margin: 0px 5px;
        padding: 1em;
    }
    .third-sec .card-item .top {
        height: 15vh;
    }
    .third-sec .card-item .top img{
        height: 15vh;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .third-sec .card-item{
        margin: 10px 5px;
        width: 100%;
    }
}

/* ****************** Forth Section ************************ */

.forth-sec .card-item{
    margin: 0 15px;
    width: 50%;
}

.forth-sec .top{
    background-color: var(--link-bg-color);
    width: 99%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 20px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.forth-sec .card-left .top h3 {
    color: var(--main-bg-color);
    padding: 10px 0;
    font-size: 26px;
}

.forth-sec .card-left .top p{
    color: var(--main-color);
}

.forth-sec .card-left .bottom table{
    width: 100%;
    text-align: center;
}

.forth-sec .card-left .bottom table tr{
    border-bottom: 1px solid var(--lightGray-text-color);
}

.forth-sec .card-left .bottom table tr:nth-of-type(5){
    border: none;
}

.forth-sec .card-left .bottom table th{
    color: var(--link-bg-color);
    padding: 15px;
    font-size: 20px;
}

.forth-sec .card-left .bottom table td{
    padding: 15px;
    color: var(--lightGray-shadow-color);
}

.forth-sec .card-right .top {
    padding: 42px 20px;
    margin-top: -38px;
}

.forth-sec .card-right .top label{
    font-size: 25px;
    color: var(--main-bg-color);
    margin: 0px 30px;
}

.forth-sec .card-right .top a{
    text-decoration: none;
    margin: 0px;
    font-size: 25px;
    color: var(--main-color);
    width: 100%;
    padding: 20px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.forth-sec .card-right .top a:hover{
    background: #2b242434;
}

.forth-sec .card-right .bottom .check{
    margin: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}

.forth-sec .card-right .bottom .check input{
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    outline: none; 
    transition: background-color 0.3s;
}

input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border: 1px solid var(--lightGray-shadow-color);
    background-color: var(--main-color);
}

input[type="checkbox"]:checked::before {
    background-color: var(--link-bg-color);
}

.forth-sec .card-right .bottom .check label{
    width: 75%;
}

.forth-sec .card-right .bottom .check i{
    font-size: 20px;
    cursor: pointer;
}

.forth-sec .card-right .bottom .check .fa-pen:hover{
    color: #e6c222;
}

.forth-sec .card-right .bottom .check .fa-close:hover{
    color: var(--red-color);
}

/* ------------ Forth Section Media ------------ */

@media (max-width: 1024px){
    .forth-sec .card-con{
        display: block;
    }
    .forth-sec .card-item{
        margin: 40px 15px;
        width: 98%;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .forth-sec .top {
        padding: 1px 20px;
    }
    .forth-sec .card-left .top h3 {
        padding: 3px 0;
    }

    .forth-sec .card-left .bottom table{
        width: 100%;
    }
    
    .forth-sec .card-left .bottom table th{
        padding: 15px 5px;
        font-size: 16px;
    }
    
    .forth-sec .card-left .bottom table td{
        padding: 0;
        font-size: 10px;
    }

    .forth-sec .card-right .top {
        padding: 15px 5px;
        margin-top: -38px;
    }

    .forth-sec .card-right .top label {
        font-size: 20px;
        margin: 0px;
    }

    .forth-sec .card-right .top a {
        margin: 0px;
        font-size: 16px;
        padding: 4px;
    }
    .forth-sec .card-right .bottom .check {
        margin: 0px;
        font-size: 16px;
    }
}

/* ****************** Fifth Section ************************ */

.fifth-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 20px 30px;
}

.fifth-sec p{
    color: var(--lightGray-shadow-color)
}

.fifth-sec p i{
    color: var(--link-bg-color);
}

.fifth-sec p span{
    font-weight: bold;
    font-style: italic;
    color: var(--link-bg-color);
}

.fifth-sec .social_links {
    margin-right: 50px;
}

.fifth-sec .social_links a{
    text-decoration: none;
    color: var(--main-color);
    background: var(--link-bg-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid var(--main-color);
    padding: 10px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.fifth-sec .social_links a:hover{
    background-color: var(--main-color);
    color: var(--link-bg-color);
    border: 1px solid var(--link-bg-color);
}

.fifth-sec .social_links a i{
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.fifth-sec .social_links a .fa-whatsapp,.fifth-sec .social_links a .fa-centos,.fifth-sec .social_links a .fa-linkedin-in{
    padding: 1px;
}

.global-links a{
    text-decoration: none;
    margin: 5px;
    color: var(--lightGray-shadow-color);
    cursor: default;
}

/* ------------ Fifth Section Media ------------ */

@media (max-width: 1024px){
    .fifth-sec {
        display: block;
        text-align: center;
    }
    .fifth-sec .social_links {
        margin: 25px;
    }
}

@media (min-width: 300px) and (max-width: 767px){
    .fifth-sec {
        margin: 0;
    }
}